# project

Use the "Run" button to execute the code.

In [19]:
from bs4 import BeautifulSoup
import requests #imports requests from other libraries
import time
import pandas as pd

pro_list=[]
comp_list=[]
loc_list=[]

In [20]:
x = input("Enter job profile: ").replace(' ','+')
y = input("Enter location profile: ").replace(' ','+')
html_text = requests.get('https://www.careerbuilder.com/jobs?keywords='+x+'&location='+y).text


soup = BeautifulSoup(html_text, 'lxml')#lxml is the parser

list = soup.find("div", id = "jobs_collection")

jobs = list.find_all("div", class_ = "col big col-mobile-inline")


#print(job)
for job in jobs:
    profile = job.find("div", class_ = "data-results-title dark-blue-text b").text
    details = job.find("div", class_ = "data-details") #this part has three spans in a row, so i have to take 
    comp_and_loc = (details.find_all("span"))#          them all and parse them
    company = comp_and_loc[0].text
    location = comp_and_loc[1].text

    pro_list.append(profile)
    #print("Profile: " + profile)
    comp_list.append(company)
    #print("Company: " + company)
    loc_list.append(location)
    #print("Location: " + location)

Enter job profile: data analyst
Enter location profile: newark

In [43]:
df = pd.DataFrame({'Profile': pro_list,
                   'Company': comp_list,
                   'Location': loc_list})

In [41]:
big_companies = ['Apple', 'Microsoft', 'Google', 'Amazon', 'Facebook', 'Tesla']

In [68]:
for index, row in df.iterrows():
    if row['Company'] in big_companies:
        df.drop(index)

In [50]:
#df

,Profile,Company,Location
0,Data Analytics & Engineering - Data Analyst II,Rose International,New York
1,Data Analyst,The Accuro Group Inc,Newark
2,Data Analyst,Collabera,Jersey City
3,Data Analyst,New York City,Contractor
4,Data Analyst,BCforward,New York
5,Data Analyst,Vaco Staffing,New York
6,Data Analyst,Cogent Infotech.,New York
7,Data Analyst,Accrue Partners,"NJ/NY, North Carolina"
8,Data Analyst,Cogent Infotech.,New York
9,Data Analyst,Synaptein Solutions Inc.,New York
10,Data Analyst,BCforward,New York
11,Data Analyst,Custom Group Companies,New York
12,Data Analyst,ConsultNet,New York
13,Data Analyst,Global Pharma Tek LLC,New York
14,Data Analyst,Kforce Technology,New York
15,DATA ANALYST,Lenmar Consulting,Lyndhurst
16,Data Analyst,"Performance Team Freight Sys, Inc.",Carteret
17,Data Analyst,Fixity Technologies,New York City
18,Data Analyst,"Planet Forward, LLC",New York
19,DATA ANALYST,RIT Solutions Inc/ Tech Dev IT/ Texperts Inc/C...,New York

In [73]:
#df.to_excel('careerbuilding.xlsx')
df.to_csv('careerbuilder.csv', index = False)